<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
<appSettings>
  <add key="ServerEndPoint" value="http://192.168.0.246:8080/botDetails"/>
  <add key="LogSniffSrcDir" value="C:\\ITC\\log_src"/>
  <add key="LogSniffDestDir" value="C:\\ITC\\log_dest"/>
  <add key="LogSniffAnalysedDir" value="C:\\ITC\\log_after_python"/>
</appSettings>
</configuration>